openapi: 3.0.0
info:
  title: Project API
  version: 0.0.0
tags: []
paths:
  /hello-world:
    get:
      operationId: HelloWorld_list
      parameters: []
      responses:
        "200":
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
components:
  schemas:
    Message:
      type: object
      required:
        - id
        - message
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
        message:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
