services:
  api:
    build:
      context: ../../
      dockerfile: apps/api/Dockerfile
      args:
        BUILD_CONFIG: ${BUILD_CONFIG:-development}
        API_PORT: ${API_PORT:-3001}
    restart: always
    environment:
      NODE_ENV: ${NODE_ENV:-test}
      DATABASE_URL: ${DATABASE_URL:-postgresql://postgres:postgres@db:5432/postgres?schema=public}
      API_PORT: ${API_PORT:-3001}
    ports:
      - "${API_PORT:-3001}:${API_PORT:-3001}"
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://127.0.0.1:${API_PORT:-3001}/api/health",
        ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s
